# Auto detect text files and perform LF normalization
* text=auto
marching[[:space:]]cubes/data/Bunny050.obj filter=lfs diff=lfs merge=lfs -text
marching[[:space:]]cubes/data/MRbrain020.obj filter=lfs diff=lfs merge=lfs -text
